---
title: Home
layout: default
---

<main class="home">
  {% for section in site.home-sections %}
    {% if section.video_url %}
      <section class="full-screen-widget full-screen-widget--video">
        <h3 class="aligned-text"><a href="{{ section.link_url }}">{{ section.title }}</a></h3>
        <div class="fluid-width-video-wrapper">
          <video src="https://player.vimeo.com/external/173519130.hd.mp4?s=2461994fd4f74a798d53e05e552011d32b023e25&profile_id=174" muted loop preload="metadata" poster="#" class="js-resizebleVideo"></video>
          <i class="video-gif video-gif-sheyk"></i>
        </div>
      </section>
    {% else %}
      <section class="full-screen-widget background-section">
        <h3 class="aligned-text"><a href="{{ section.link_url }}">{{ section.title }}</a></h3>
        <img src="{{ section.background_image}}" alt="{{ section.title }}">
      </section>
    {% endif %}
  {% endfor %}

  <section class="full-screen-widget full-screen-widget--video">
    <h3 class="aligned-text">Feature Video</h3>
    <div class="fluid-width-video-wrapper">
      <video src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/2987/7/189938815/630336191.mp4?token=586db973_0x48e2401695c5618b5fd88aa2a860afda281a2877" muted loop preload="metadata" poster="#" class="js-resizebleVideo"></video>
      <i class="video-gif video-gif-sheyk"></i>
    </div>
  </section>
</main>
