.preloader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  padding: 0 30px;
  transition: 2s;
  z-index: -9999;
  .preloader-visible & { 
    z-index: 9999;
    opacity: 1;
  }
}

.preloader-visible {
  overflow-y: hidden;
  .wrapper-for-content-outside-of-footer, .footer-main {
    opacity: 0;
  }
}
